<!DOCTYPE html>
<html ng-app="proctorApp">
<head>
    <title>Proctor</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/proctor.js"></script>
</head>
<body>
    <div ng-controller="ProctorController as proctor">
        <table>
            <tr><th>Player</th><th>Score</th><th>Controls</th></tr>
            <tr ng-repeat="player in players | orderBy:'name'" ng-class="{ winner: player.triggered }">
                <td>{{player.name}}</td>
                <td>{{player.score}}</td>
                <td>
                    <button ng-click="proctor.increaseScore(player.name)">+</button>
                    &nbsp;
                    <button ng-click="proctor.decreaseScore(player.name)">-</button>
                </td>
            </tr>
        </table>
        <button ng-click="proctor.resetScores()">Reset Scores</button>
        <button ng-click="proctor.resetBuzzers()">Clear Triggered</button>
        <button ng-click="proctor.changeState()">=> {{nextState}}</button>
    </div>
</body>
</html>